<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LATE NIGHT JAVA</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
    <body>
        <div class="container">
            <h1 class="neonText">
                Late Night Java
                <span class="nestedNeonText">all things java</span>
            </h1>
            <div class="cardContainer">
                <div th:each="blogPost: ${posts}" class="card">
                    <a th:href="@{/blog-post/(id=${blogPost.id})}">

                        <div class="card" >
                            <div class="cardImageHolder"></div>
                            <div class="cardText" th:text="${blogPost.title}"></div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </body>
</html>