<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LATE NIGHT JAVA</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
    <body>
        <div class="container">
            <h1 class="neonText">
                Late Night Java
                <span class="nestedNeonText">all things java</span>
            </h1>
            <div class="cardContainer">
                <div class="card">
                    <div class="cardImageHolder"></div>
                    <div class="cardText">Reverse Engineering Mockito. Part 1. WTF</div>
                </div>
                <div class="card">
                    <div class="cardImageHolder"></div>
                    <div class="cardText">Reverse Engineering Mockito. Part 2. Dependency Injection</div>
                </div>
            </div>
        </div>
    </body>
</html>